@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;900&family=Pacifico&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* --------Navbar--------- */

.navbar-logo {
  background-image: url("../src/img/first_dose_WHITE_periodic_final2.png");
  background-position: center;
  background-size: contain;
  width: 75px;
  height: 75px;
  object-fit: cover;
  float: left;
  margin-left: 15px;
}

.navbar-bg {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 0;
  top: 0;
  background-image: url(https://thumbs.gfycat.com/TidyLimitedDragon-max-1mb.gif);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  opacity: 75%;
  visibility: hidden;
}

.navbar-logo img {
  width: 25px;
  height: 25px;
}

.main-nav {
  /* color: black; */
  color: white;
  /* font-family: "Cinzel"; */
  font-size: 1.3rem;
  margin-left: 70px;
  text-decoration: none;
  letter-spacing: 3px;
  /* text-shadow: 1px 1px 1px navy; */
}

.navbar-container {
  border-bottom: double black;
  background-color: rgba(1, 0, 3, 0.75);
  border-bottom: double rgb(33, 33, 33);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  padding-top: 1%;
  padding-bottom: 1%;
  top: 0;
  z-index: 100;
  position: sticky;
  opacity: 95%;
  /* visibility: hidden; */
}

.navbar-container::after {
  content: '';
  display: table;
  clear: both;
}

.nav-links {
  float: right;
  padding-right: 70px;
  padding-top: 25px;
  position: relative;
  color: white;
}

.doc-nav-container {
  justify-content: center;
}

.main-nav:hover {
  opacity: 1;
  /* font-weight: bold; */
  color: navy;
  /* text-shadow: 0 0 1px teal, 0 0 5px teal,
           0 0 10px teal, 0 0 12px teal,
           0 0 15px teal; */

  text-decoration: underline;
}


/* --------Login--------*/

#login-row {
  max-width: 100%;
}

#login-left-col {
  /* Blue radial: */
  background: radial-gradient(circle, rgb(2, 0, 65) 0%, rgba(11, 59, 112, 0.68531162464986) 25%,rgb(4, 0, 53) 85%);
  animation: fadeBackground 3s;
  animation-fill-mode: forwards;
}

#login-left-col h1 {
  margin-top: 75px;
  padding: 1%;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  text-shadow: 10px 10px 3px black;
  font-size: 64px;
  font-weight: 600;
  /* font-variant: small-caps; */
}

#login-right-col {
  width: 100%;
}

.header-fade-in { animation: fadeIn 3s; }

.login-image {
  background-image: url("../src/img/first_dose_WHITE_periodic_final2.png");

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  padding: 35%;
  margin-top: 50px;
}

/* Logo fade-in effect: */

.fade-in-image { animation: fadeIn 3s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeBackground {
  from { background-color: black; }
  to { background-color: radial-gradient(circle, rgb(2, 0, 65) 0%, rgba(11, 59, 112, 0.68531162464986) 25%,rgb(4, 0, 53) 85%); }
}

.form-control {
  align-items: center;
}

/* --------Home-------- */

.home-container {
  display: block;
}

.about-container {
  background-image: url(https://wallpaperaccess.com/full/740142.jpg);
  background-position: center;
  min-height: 25vh;
  padding-top: 18%;
  padding-bottom: 15%;
  /* padding-right: 20%; */
  text-align: center;
  display: flex;
  justify-content: right;
}

#about-header {
  font-size: 2.4rem;
  /* text-shadow: 1px 1px 8px #CCCCCC; */
  text-decoration: solid;
  padding-top: 20px;
}

#about-text {
  /* Navy background: */
  /* background: rgb(5, 0, 77); */
  
  /* FF7 boxes: */ 
   background: linear-gradient(315deg, rgba(5, 0, 77, 1) 0%, rgba(4, 0, 53, 1) 59%, rgb(136, 132, 175) 100%);
  
  /* Gray radial: */
  /* background: linear-gradient(315deg, rgba(5, 0, 77, 1) 0%, rgba(4, 0, 53, 1) 59%, rgb(136, 132, 175) 100%); */

  /* Blue radial: */
  /* background: radial-gradient(circle, rgb(2, 0, 65) 0%, rgba(11, 59, 112, 0.68531162464986) 25%,rgb(4, 0, 53) 85%); */
  
  color: white;
  font-style: italic;
  text-decoration: solid;
  margin-right: 6%;
  border-style: ridge;
  border-radius: 15px;
  opacity: 95%;
}

#about-statement {
  margin: 50px;
  color: aqua;
  font-size: 1.75rem;
}

#greeting-text {
  margin-bottom: 20px;
}

.column-home {
  border: black;
  border-width: 2px;
  border-style: double;
  border-left-style: hidden;
  border-top-style: hidden;
  border-bottom-style: hidden;
}

.column-home a {
  align-items: center;
  font-size: larger;
}

#home-column-right {
  border-right-style: hidden;
}

.textBox {
  padding: 3%;
  margin: 3%;
  color: navy;
  font-size: x-large;
}

.contact-container {
  /* background-image: url(https://media.istockphoto.com/photos/smiling-black-female-doctor-in-white-coat-posing-with-folded-arms-picture-id1201657177?k=20&m=1201657177&s=612x612&w=0&h=TI-1JOqHQ_U-qMSO7NpWZB5hsFxMTjGEtoBucW_a-hk=); */
  /* background-position: right;
  background-size: contain;
  background-repeat: no-repeat; */
  padding-bottom: 1px;
  margin-top: 10px;
  /* background-color: #282c34;e */
  border-bottom: double black;
  background-color: rgba(1, 0, 3, 0.75);
  opacity: 95%;
  border-radius: 25px;
  width: 100%;
  height: fit-content;
  opacity: 65%;
  text-align: center;
  align-content: center;
  position: relative;
}

#contact-header {
  padding-top: 3%;
  padding-left: 10%;
  font-size: 2.5rem;
}

#contact-text {
  font-size: 1.25rem;
  color: white;
  align-items: left;
  /* text-align: left; */
  width: 100%;
}

#contact-text:after {
  content: "Having trouble? Contact us at: jpatterson@southal.swamp"
}

#contact-info {
  padding-left: 10%;
  padding-bottom: 5%;
}


/* --------First Doses Page--------- */

.first-doses-page {
  background: white;
}

.sample-view-container {
  background: rgb(7, 7, 8);
  background: radial-gradient(circle, rgba(7, 7, 8, 0.63) 0%, rgba(97, 97, 97, 0.7791491596638656) 48%, rgba(9, 9, 9, 0.762) 100%);
  animation: fadeBackground 3s;
  animation-fill-mode: forwards;

  border: #282c34;
  border-style: inset;
  border-width: 1px;
  background-color: gray;
  color: white;
  height: fit-content;
  max-height: 75%;
  /* max-height: 700px; */
  min-height: 600px;
  margin: 25px;
  margin-left: 25%;
  margin-right: 25%;
  /* max-width: 50%; */
  /* margin-left: 25%;
  margin-right: 25%; */
  font-size: larger;
  justify-content: center;
  border-radius: 25px;
}

#theatre {
  background: rgb(245, 245, 245);
  background: radial-gradient(circle, rgba(245, 245, 245, 1) 0%, rgba(11, 59, 112, 0.68531162464986) 25%, rgb(4, 0, 53) 85%);
  animation: fadeBackground 3s;
  animation-fill-mode: forwards;
  border: gray;
  border-style: groove;
  border-width: 1px;
  justify-self: center;
  margin: auto;
  padding: 25px;
  margin-bottom: 10px;
  /* width: 1500px; */
  /* height: 750px; */
}

#please_select {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  padding-top: 300px;
  margin: 145px;

  background-image: url("../src/img/first_dose_WHITE_periodic_final2.png");

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#sample-view-window {
  max-height: 700px;
  /* margin-bottom: 100px; */
  /* max-height: 75%; */
}

#selected_sample_image {
  max-width: 50%;
  max-height: 300px;
  margin: 10px;
  padding: 10px;
  padding-top: 50px;
}

.sample-info-container {
  text-align: center;
}

#scroll-container {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
  height: 175px;
  width: 100%;
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;


  /* for Firefox */
  @-moz-keyframes my-animation {
    from {
      -moz-transform: translateY(100%);
    }

    to {
      -moz-transform: translateY(-100%);
    }
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.samples-container {
  display: flex;
  align-items: center;
  max-width: 75%;
  margin: auto;
  max-height: 450px;
}

.card {
  display: flex;
  /* flex-direction: column-reverse !important; */
  flex-direction: column !important;
  align-items: center;
  /* background-color: gray !important;
  color: white; */
  /* padding: 10px; */
  /* padding-top: 25px; */
  /* min-height: 220px; */
  /* max-height: 280px; */
  margin: auto;
  max-width: 33%;
  border-radius: 25px !important;
  font-size: xx-large;
}

.card-img-top {
  /* min-height: 275px; */
  height: auto;
  /* max-height: 200px; */
  /* max-width: 65%; */
  padding: 5%;
  border-radius: 25px !important;
}

.card-body {
  height: fit-content;
}

.card-title {
  font-size: x-large !important;
}

.card-text {
  font-style: italic;
}

.btn-primary {
  margin-bottom: 10px;
  font-size: large;
  background-color: rgb(4, 0, 53) !important;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: rgb(8, 0, 99) !important;
}

#place-order-button {
  margin-top: 5px;
}

/* ----------- Your Doses -------- */

.your-doses-page {
  margin-left: 3%;
  margin-right: 3%;
}

.yourdose-contract-frame,
.yourdose-shipping-frame {
  margin: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border: #282c34;
  border-style: solid;
  border-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}

.yourdose-contract-frame {
  border-top-width: 0px;
}

.yourdose-shipping-frame {
  border-bottom-width: 1px;
}

.yourdose-explain-container,
.shipping-explain-container {
  font-size: large;
  font-weight: 100;
  color: whitesmoke;
  background-color: rgb(4, 0, 53);
  background: rgb(5, 0, 77);
  /* background: linear-gradient(315deg, rgba(5,0,77,1) 0%, rgba(4,0,53,1) 59%, rgba(245,245,245,1) 100%); */
  /* background: radial-gradient(circle, rgb(5, 2, 110) 0%, rgb(6, 2, 130) 25%, rgb(4, 0, 53) 85%); */
  min-height: 22%;
  min-height: fit-content;
  min-width: 500px;
  /* max-width: 600px; */
  margin-top: 10px;
  margin-bottom: 1%;
  border-style: ridge;
  border-width: 5px;
  border-radius: 25px;
  text-align: left;
  opacity: 95%;
}

#yourdose-explain-header,
#shipping-explain-header {
  /* margin: 1%; */
  /* padding: 1%; */
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: -10px;

  float: left;
  font-size: 55px;
  font-weight: 300;
}

#yourdose-explain-firstline,
#shipping-explain-firstline {
  color: aqua;
  font-size: x-large;
  font-weight: 400;
  font-style: italic;
  padding-top: 50px;
}

#yourdose-explain-body,
#shipping-explain-body {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  font-weight: 400;
  clear: both;
}

#contract-table,
#shipping-table {
  margin-bottom: 2%;
  font-size: larger;
}

.contracts-table-scrollable-container,
.shipping-table-scrollable-container {
  height: 215px;
  overflow-y: auto;
  border-radius: 25px;
}

.shipping-table-scrollable-container {
  /* height: 50%; */
  /* margin-bottom: 10px; */
}

.column-shipping {
  height: 100%;
}

.shipping-info-data {
  /* width: 600px; */
  /* width: 100%; */
}

#shipping-col-left {
  /* background: #000; */
}

#shipping-col-right {
  /* background: teal; */
}

#shipping-text-container {
  float: right;
  height: 440px;
  /* background-color: #282c34; */
  background: rgb(143,143,143);
  background: radial-gradient(circle, rgba(143,143,143,1) 0%, rgba(69,68,68,1) 17%, rgba(0,0,0,1) 85%);
  color: white;
  /* margin-bottom: 10px; */
  /* padding: 15%; */
  width: 100%;
  /* height: 95%; */

  border-style: ridge;
  border-width: 5px;
  border-radius: 25px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 25px;
  text-align: left;
  overflow-y: auto;
}

.shipping-label-text {
  margin: 0;
  padding: 5px;
  font-size: x-large;
}

.shipping-label-bold-text {
  color: teal;
  text-align: left;
  padding-right: 10px;
  
}

.shipping-label-address-text {
  text-align: left;
  padding-left: 150px;
  margin-top: -50px;
}

/* .shipping-info-data {
  visibility: hidden;
} */