@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;900&family=Pacifico&display=swap');

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-logo {
  float: left;
  font-family: 'Cinzel', serif;
  padding-top: 5px;
  padding-left: 80px;
}

.main-nav {
  color: black;
  font-family: "Cinzel";
  margin-left: 70px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav:hover {
  color: rgb(71, 74, 255) !important;
  opacity: 1;
}


.main-nav-active {
  color: rgb(71, 74, 255);
}

.navbar-container {
  width: 100%;
  border-bottom: double black;
  background-color: lightgray;
} 

.navbar-container::after {
  content: '';
  display: table;
  clear: both;
}

.nav-links {
  float: right;
  padding-right: 70px;
  padding-top: 25px;
  position: relative;
  
}

/* -------HOME STYLING------- */

.about-container {
  background-image: url(https://wallpaperaccess.com/full/740142.jpg);
  background-position: center;
  min-height: 25vh;
  padding-top: 18%;
  padding-bottom: 15%;
  padding-right: 12%;
  text-align: center;
  margin: 0px;
  display: flex;
  justify-content: right;
}

#about-header {
  font-size: 2.4rem;
  text-shadow: #282c34;
  text-decoration: solid;
}

#about-text {
  background-color: #282c34;
  background-color: rgb(0, 57, 163);
  /* color: cornflowerblue; */
  color: white;
  opacity: 85%;
  padding: 3%;
  padding-bottom: 8%;
  width: 400px;
  height: 250px;
  font-style: italic;
  text-shadow: #282c34;
  text-decoration: solid;
}

#about-statement {
  margin: 10px;
  color: #CCCCCC;
  font-size: 1.75rem;
}

#your-row {
  padding-top: 5%;
  padding-bottom: 5%;
}

.column {
  border: black;
  border-width: 2px;
  border-right-style: double;
  color: navy;
}

.col-nav {
  font-size: large;
}

#column-right {
  border-right-style: hidden;
}

.textBox {
  padding: 5%;
  margin: 5%;
  color: black;
  text-shadow: #282c34;
  text-decoration: solid;

}

.contact-container {
  background-image: url(https://media.istockphoto.com/photos/smiling-black-female-doctor-in-white-coat-posing-with-folded-arms-picture-id1201657177?k=20&m=1201657177&s=612x612&w=0&h=TI-1JOqHQ_U-qMSO7NpWZB5hsFxMTjGEtoBucW_a-hk=);
  background-position: right;
  background-repeat: no-repeat;
  padding-bottom: 1px;
  background-color: #282c34;
  /* find higher resolution image */
}


#contact-header {
  padding-top: 3%;
  padding-left: 3%;
  font-size: 2.5rem;
}

#contact-text {
  font-size: 1.25rem;
  color: white;
  align-items: left;
  text-align: left;
  width: 500px;
}

#contact-info {
  margin: 5%;
  padding-left: 5%;
  align-items: left;
  text-align: left;
  align-self: left;
}

/* -------END HOME STYLING -------- */

.login-container {
  width: 100%;
  text-align: center;
  display: center;
  float: left;
}

.login-form {
  display: block;
  text-align: center;
  
}

.login-image {
  height: 70vh;
  background-image: url(https://www.stockvault.net/data/2018/09/01/254142/preview16.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 900px 570px;
}

.signup-form {
  display: block;
  text-align: center;
}

.form-width {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
 

.samples-container {
  text-align: center;
  display: inline-block;
}



.sample-view {
  text-align: center;
}

.sample-info-view {
  text-align: center;
}

.sample-info-container {
  text-align: center;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid red;
}

.user-samples-main {
  border: 2px solid black;
  background-color:  lightgray;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 70px;
  height: 300px;
  overflow-y: auto;
}


.user-info-main {
  background-image: url(https://assets.turbologo.com/blog/en/2019/12/19084817/Fedex-logo.png);
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 25px;
  border: 2px solid red;
  background-color: gray;
  margin: 10px;
}

.sample-column {
  text-align: center;
  min-height:100vh; 
  width:100%;
  background-image: url(https://c0.wallpaperflare.com/preview/598/254/377/floor-gray-grey-mobile-wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.profile-container {
  text-align: center;
  border: 2px solid black;
  margin: 50px;
}

.modal-quantity-select {
  padding-top: 10px;
}

.signup-error-container li {
  color: red;
}

